<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Online bookstore</title>
</head>

<body>
<style>
    body {
        background-image: url("/media/images/bg4.jpg");
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
.Wrapper {
    text-align: center;
}
.BtnWrapper{
    margin-top:50px;
}
.Container {
    margin-top:200px;
}
.CardWrapper {
    display:inline-block;
    border-radius: 10px;
}

</style>
<div class="Container">
    <div class="Wrapper">
        <h1>Choose one of our services:</h1>
        <div class="BtnWrapper">
         <div class="card CardWrapper" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Online bookstore</h5>
                <p class="card-text">Check our bookstore. New books every month! Prices in weekend are lower.</p>
                <a href="/miniLibrary/books/" class="btn btn-primary">Go to store</a>
            </div>
        </div>
          <div class="card CardWrapper" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Online course previewer</h5>
                <p class="card-text">This is a course previewer regarding udemy courses. Check it out!</p>
                <a href="/miniLibrary/courses/" class="btn btn-primary">Go to previewer</a>
            </div>
        </div>
        </div>
    </div>
</div>
</body>

</html>