{% extends 'miniLibrary/base.html' %}

    {% load crispy_forms_tags %}

    {% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="a">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                         <button type="submit">Upload Image</button>
                    </form>
                 </div>
            </div>
        </div>
    </div>
    {% endblock %}